<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ProductoSoap" />
                <binding name="WebService2Soap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8091/Producto.asmx" binding="basicHttpBinding"
                bindingConfiguration="ProductoSoap" contract="Producto.ProductoSoap"
                name="ProductoSoap" />
            <endpoint address="http://localhost:8091/WebService2.asmx" binding="basicHttpBinding"
                bindingConfiguration="WebService2Soap" contract="PedidoProd.WebService2Soap"
                name="WebService2Soap" />
        </client>
    </system.serviceModel>
</configuration>